/* Css for diving gala program */

body > h1{
	text-align: center;
}

div.version{
	margin:  0px;
	padding:  0px;
	text-align: center;
}

/* ==== Program  ==== */

div.serie {
	margin-top: 20px;
	margin-bottom: 20px;
}

div.serie div{
	text-align: center;
}
div.serie div.serieName{
	font-size: large;
	border: 1px solid black;
}

div.subSerie {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	margin-top: 5px;
	margin-bottom: 5px;
}

/* Alterating bg colors on subSeries */
div.subSerie:nth-child(2n), div.subSerie:nth-child(2n) div.board div.diveIndex{
	background-color: #ffe6cc;
}
div.subSerie:nth-child(2n+1), div.subSerie:nth-child(2n+1) div.board div.diveIndex {
	background-color: #ccffff;
}

/* subSeries content */

div.subSerie div.subSerieName{
	text-align: left;
	font-weight: bold;
	flex-grow: 1;
	padding-left: 5px;
	padding-top: 5px;
}

/* Dive / board */
div.subSerie div.board{
	flex-grow: 8;
	flex-basis: 0;
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	margin-left: -1px;
	position: relative;
	padding-bottom: 2px;
}

div.subSerie div.boardSynchroWithLeft{
	border-left-color: transparent;
}
div.subSerie div.boardSynchroWithRight{
	border-right-color: transparent;
}

div.subSerie div.board div.boardName{
	border-bottom: 1px solid black;
}

div.subSerie div.dive{
	margin-top: auto;
	margin-bottom: auto;
	justify-content: center;
	padding-left: 1px;
	padding-right: 1px;
}

div.board div.dive div.divers{
	font-weight: bold;
}

/* Dive index in the corner */
div.subSerie div.board div.diveIndex{
	font-weight: bold;
	padding-right: 3px;
	padding-left: 3px;
	border: 1px solid black;
	top:  -1px;
	left:  -1px;
	position: absolute;
	z-index: 10;
}

/* ==== Listings  ==== */

div.listingGroup {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around safe;
}

div.listing {
	border: 2px solid black;
	margin : 2px;
	margin-bottom: auto;
}

div.listing div.listingName{
	font-weight: bold;
	font-size: 1.2em;
	text-align: center;
}

div.listing div.listingSerie{
	border-top: 1px solid black;
}

div.listing div.listingSerieName{
	font-size: 1.1em;
	font-style: italic;
	text-align: center;
	border-bottom: 1px dashed; black;
}

div.listing div.listingEntry {
	padding-left: 5px;
	padding-right: 5px;
}

div.listing div.listingEntry:nth-child(2n) {
	background-color: #ffe6cc;
}
div.listing div.listingEntry:nth-child(2n+1) {
	background-color: #ccffff;
}

div.listing div.faded {
	opacity: 40%;
}

div.listing div.centered {
	text-align: center;
}


/* ==== Printing tricks  ==== */

footer{
	width: 100%;
	font-style:  italic;
	font-size: 0.66em;
}

@media screen{

	div.listing {
		margin-bottom: 2px
	}

	footer{
		text-align: left;
		position: absolute;
		top: 23px;
		left: 23px;
		width: 75%;
	}
}

@media print {
  @page {size: A4 landscape;}
  div.serie {page-break-inside: avoid;}
  div.subSerie div.boardName{box-shadow: inset 0 0 0 1000px #cccccc;}
  h1.PageBreakBefore {page-break-before: always;}
  div.listingGroup {	display: unset;}
  div.listing {page-break-inside: avoid; margin-bottom: 3mm }
  div.listing div.listingSerie {page-break-inside: avoid;}
  h1 {margin-top: 5px; border: 1px solid black;}
  div.version {visibility: hidden;}
  footer { visibility: visible;	text-align: right; position: fixed; bottom: 0; right: 0; overflow: visible; z-index: -10; }
}
